@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300;600&display=swap');

.skillContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
    height: 100vh;
}

.skillContainer_text{
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
}

.skillContainer_text > h2{
    font-size: 30px;
}

.skillContainer_image{
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
    color:white;
}

.skillContainer_skillSet > h5 {
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    padding-bottom: 30px;
    padding-top: 10px;
}

.skillContainer_slider > .MuiLinearProgrss-colorPrimary{
    background-color: rgb(247, 15, 15);
}
.skillContainer_slider1 > div > .MuiLinearProgress-bar {
    background-color: tomato !important;
}

.skillContainer_slider2 > div > .MuiLinearProgress-barColorPrimary{
    background-color: aqua;
}

.skillContainer_slider3 > div > .MuiLinearProgress-barColorPrimary{
    background-color: blue;
}

.skillContainer_slider4 > div > .MuiLinearProgress-barColorPrimary{
    background-color: burlywood;
}

.skillContainer_slider5 > div > .MuiLinearProgress-barColorPrimary{
    background-color: palevioletred;
}

.skillContainer_slider6 > div > .MuiLinearProgress-barColorPrimary{
    background-color: green;
}

.skillContainer_slider7 > div > .MuiLinearProgrss-barColorPrimary{
    background-color: greenyellow;
}
